
.xiangqing1{position:absolute;left:220px;top:-1px;width:980px;background:#fff;padding:18px 0 20px 32px;
    display:none; border: 1px solid #1b9d97;border-left: none;
}
.xiangqing1 dt,.xiangqing1 dd{float:left;}
.xiangqing1 dt{font-size:14px;color:#666;font-weight: bold;line-height:40px;height:40px;text-align:right;width:90px;}
.xiangqing1 dd a{font-size:12px;color:#666;margin:0 10px 0 0;}
.xiangqing1 dd a:hover{color:#1b979d;}
.xiangqing1 dd{width: 480px;;border-bottom:1px dashed #e9e7e7;margin:0 0 0 15px;}
.caigou_con1{float:left;}
.xiangqing_banner{float:left;width:220px;height:114px;padding:50px;}
.dakuang{display:none;position:relative;z-index:10;border-left:1px solid #1b979d;border-bottom:1px soikd #1b979d;}
.dakuang2{display:inline-block;}
.jiaohuanji{color:#1b9d97;font-size:16px;border-bottom:1px solid #ccc;font-weight: bold;}
.font_14bd{border-bottom:1px solid #1b979d;}
/*首页banner*/
.shouye_banner{height:450px;background: url(../images/2bmain/shouye_banner.png) no-repeat center top;border-top: 1px solid #1b9d97;}
/*一站式*/
.yizhanshi{width:1200px;margin:0 auto;margin-top:40px;}
.title1{font-size:30px;color:#333;padding:0 0 15px 0;border-bottom: 2px solid #1B9D97;}
.fugai{font-size:12px;color:#999;padding:0 0 0 10px;}
.zizhanz{width:476px;height:336px;background:url(../images/2bmain/yizhanshi1.png) no-repeat;position:relative;margin:0 10px 0 0;}
.yzsp1{font-size: 24px;color:#fff;}
.yzsp12{font-size:24px;color:#fff;}
.yzsp2{font-size:12px;color:#d3d1d1;}
.yizhanshiwen{padding:20px;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0px;width:426px;}
.yizhanshiwen2{padding:8px 0 9px 22px;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0px;width:447px;}
.yizhanshiwen3{padding:8px 0 9px 22px;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0px;width:208px;}
.yizhanshiwen4{padding:8px 0 9px 22px;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0px;width:213px;}
.zizhanz,.yizhanr,.yzsyy,.yzsyz{float:left;}
.yzss{width:470px;height:158px;background:url(../images/2bmain/yizhanshi2.png) no-repeat;position:relative;}
.yzsx{width:470px;height:168px;margin:10px 0 0 0;}
.yzsx2l{background:url(../images/2bmain/yizhanshi3.png) no-repeat;position:relative;float:left;margin-right:10px;width:230px;height:168px;}
.yzsx2r{background:url(../images/2bmain/bucong_2.jpg) no-repeat;position:relative;float:left;width:230px;height:168px;}
.yzsyy{background:url(../images/2bmain/yizhanshi4.png) no-repeat;position:relative;width:234px;height:336px;margin:0 0 0 10px;}
/*自营产品*/
.ziying1{width:1200px;margin:0 auto;margin-top:40px;}
.ziying1_1{width:380px;float:left;}
.lunbo_ziying{overflow:hidden;width:380px;position:relative;}
.bannerLoop6,.bannerLoop7{height:400px;}
.bannerLoop6 ol,.bannerLoop7 ol{bottom:0px;left:50%;margin-left: -72px;}
.bannerLoop6 ul,.bannerLoop7 ul{width:386px;height:400px;position:relative;left:0;top:0;margin:0;}
.xuancuan{font-size:14px;color:#fff;background:#333;margin-top:-3px;padding:41px 0 30px 14px;}
.xuancuan-left{
	font-size:14px;color:#fff;float:left;
}
.xuancuan a{font-size:14px;color:#fff;}
.xuancuan a:hover{color:#1b9d97;}
.ziying_r{width:820px;float:left;overflow:hidden;}
.ziying_jg{font-size: 14px;color:#333;text-align: center;margin-top: 24px;}
.ziying_qs{color:#BDBDBD;font-size: 14px;}
.jiage_hong{color:#dd143c;font-size: 14px;}
.ziying_r ul li{text-align: center;float:left;border-top: 1px solid #ccc;
border-right: 1px solid #ccc;position:relative;}
.remai1{background:url(../images/2bmain/remai1.png)no-repeat center top;position:absolute;right:0;top:0;width:44px;height:34px;color:#fff;font-size: 14px;text-align: center;line-height: 21px;}
.remai2{background:url(../images/2bmain/remai2.png)no-repeat center top;position:absolute;right:0;top:0;width:44px;height:34px;color:#fff;font-size: 14px;text-align: center;line-height: 21px;}
.remai3{background:url(../images/2bmain/remai3.png)no-repeat center top;position:absolute;right:0;top:0;width:44px;height:34px;color:#fff;font-size: 14px;text-align: center;line-height: 21px;}
.ziying-situbiao{
	border:1px solid #ccc;
	width: 817px;
}
.ziying-situbiao a{
		width: 201px;height: 118px;
}
.ziying-situbiao a:hover{
	background-position: center bottom;
}
.ziying-xz1{
	display: inline-block;
	background: url(../images/2bmain/dell_xz1.png) no-repeat center top;

}
.ziying-xz2{
	display: inline-block;
	background: url(../images/2bmain/dell_xz2.png) no-repeat center top;
	
}
.ziying-xz3{
	display: inline-block;
	background: url(../images/2bmain/dell_xz3.png) no-repeat center top;
}
.ziying-xz4{
	display: inline-block;
	background: url(../images/2bmain/dell_xz4.png) no-repeat center top;

}
/*社交互动*/
.shejiao{width:1200px;margin:0px auto;overflow:hidden;margin-top:40px;}
.xuancuan-right{float:left;padding:0 0 0 10px;}
.luntantou{width:230px;height:48px;background:#333;text-align: center;}
.luntantou a{text-align: center;color:#fff;font-size: 18px;display:inline-block;line-height: 48px;}
.luntantou a:hover{color:#1b9d97;}
.shejiao li{float:left;margin-right: 11px;}
.no_margin{margin:0!important;}
/*方案项目*/
.fanganxiangmu{position:absolute;left:-44px;top:26px;width:650px;display:none;z-index:10;padding-top:10px;border: 1px solid #1b9d97;padding:10px 0 20px 6px;}
.fanganxiangmu dd{padding-top:10px;}
.fanganxiangmu1{position:relative;}
/*首页banner轮播*/
.lunbo_ziying2s{overflow:hidden;height:500px;position:relative;}
.bannerLoop8{height:550px;}
.bannerLoop8 ol{bottom:63px;left:45%;}
.bannerLoop8 ul{height:600px;position:relative;margin-left: -960px;left:50%;width:1920px!important;}
.shouye_banner2s{height:500px;border-top: 1px solid #1b9d97;position:relative;}
/*补充*/
.shouye_ziying_1 li{width: 272px;
    height:200px;overflow: hidden;}
.shouye_ziying_1 li a{display: inline-block;width: 272px;padding:100px 0 0 0;height:100px;}
.shouye_ziying_1 li a:hover{background:rgba(246,245,250,0.3)}
.yzss:hover,.zizhanz:hover,.yzsx2l:hover,.yzsx2r:hover,.yzsyy:hover{box-shadow:2px 2px 8px #1b979d;}
/*修改搜索图片*/
.shouye_ziying_1 li a  img{
    position:absolute;
    left:0;top:0;
    z-index:-1;
}
/*在线需求*/
.xunqiu-online{
width: 1200px;margin: 0 auto;
	border-top: 2px solid #1B9D97;
	margin-top:30px;
	overflow: hidden;

}
.xq-online-l,.xq-online-m,.xq-online-r{
	float:left;
}
.xq-online-m{
/*	width: 630px;*/
	overflow: hidden;
		padding:0 18px 0 20px;
}
	
.xq-online-m textarea{ resize:none;}
.xq-online-l{
	background: #1B9D97;
	width: 270px;
	height: 214px;
	padding:0 10px;

}
.xq-online-l h3{
	margin:0;padding:0;font-size: 24px;color:#fff;font-weight: normal;
	border-bottom:1px solid #fff;
	text-align: center;
	padding:70px 0 10px 0px;
}
.xq-online-l p{
	font-size: 14px;
	color:#fff;
	text-align: center;
}
.xq-online-m p{
	font-size: 14px;
	color:#333;
	text-align: left;
	margin:0;
	padding:20px 0;
}
.xq-name{
	border:1px solid #ccc;
	width: 270px;
	padding:5px 0 5px 10px;
	color:#333;
	
}
.xq-tel{
	border:1px solid #ccc;
	width: 306px;
	padding:5px 0 5px 10px;
	color:#333;
	margin:0 0 0 20px;
}
.xq-m-l,.xq-m-r{
	float:left;
}
.xq-xiangxi{
	width: 270px;
	height: 83px;
	border: 1px solid #ccc;
	padding: 5px 0 5px 10px;
	margin:20px 0 0 0;
}
.xq-m-sc{
	width: 87px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	margin:20px 0 0 20px;
	background: #fff;
}
.xq-m-gs{
	font-size: 12px;color:#999;
	padding:0 0 0 10px;
}
.xq-m-r .btn{
	width: 320px;
	height: 45px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin: 19px 0 0 20px;
	background: #1B9D97;
}
.xq-online-r{
	float:left;
	background: #f7f6fc;
	width: 240px;
	height: 214px;

}
.xq-online-r dl{
	float:left;
	width: 120px;
	height:80px;
	text-align: center;
	padding-top:26px;
}
.xq-online-r dl a{
	font-size: 14px;
	color:#333;
}
/*数据中心设备*/
.xuancuan-top{
	font-size: 14px;color: #fff;padding:0 0 19px 0;
}
.xuancuan-bottom a{
	margin:0 10px 0 0;
}
.gb-zxl{
	float: left;
	width: 542px;
	height: 120px;
	background: url(../images/2bmain/xiaobanner.jpg) no-repeat;
}
.gb-zxl-h{
	font-size:18px ;
	color:#fff;
	padding:34px 0 17px 24px;
}
.gb-zxl span{
	font-size: 12px;
	color: #FFFFFF;
	padding:0 0 0 24px;
}
.gb-zxl a{
	font-size: 12px;
	border:1px solid #fff;
	text-align: center;
	color:#fff;
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 50px;
}
/*托管*/
#sy-tg{
	width: 1200px;
	margin: 0 auto;
	margin-top:40px;
}
#sy-tg .more{
	float: right;
	font-size: 12px;
	color:#999;
	margin-top: 20px;
}
#sy-tg .more：hover{
	color:#1B9D97;
}
#sy-tg .sy-tg-tl{
	float: left;
	width: 387px;
	height: 400px;
	background: url(../images/2bmain/index_g1.png) no-repeat center center;
}
#sy-tg .sy-tg-tl h3{
	font-size: 24px;
	color: #333;
	text-align: center;
	padding:35px 0 14px 0;
}
.tl-yt{
	display: block;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.sy-tg-tr{
	float:left;
}
.sy-tg-tr ul{
	float:left;
	border-right: 1px solid #ccc;
	width: 270px;
	height: 278px;
}
.sy-tg-tr .tg-tr-li01{
	font-size: 14px;
	color:#333;
	padding:20px 36px;
}
.tg-tr-li02{
	font-size: 12px;
	color: #999;
	padding:0 36px;
	line-height: 24px;
}
.tg-tr-li03{
	font-size: 14px;
	color:#1B9D97;
	padding:24px 36px;
}
.tg-tr-li03 span{
	color:#dd143c;
}
.tg-tr-li04 a{
	font-size: 14px;
	color:#333;
	text-align: center;
	display: inline-block;
	width: 134px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-left: none;
}
.tg-tr-bottom{
	background: url(../images/2bmain/index-xg2.jpg) no-repeat center center;
	width: 811px;
	height: 120px;
	border: 1px solid #ccc;
	border-top: none;
	text-align: center;
	cursor: pointer;
}
.tg-tr-bottom h3{
	font-size: 24px;
	color:#fff;
	text-align: center;
	padding:30px 0 20px 0;
}
.tg-tr-bottom span{
	font-size: 12px;
	color:#fff;
	margin:0 5px;
}
.tg-bottom-l{
	float: left;
	text-align: center;
	padding:25px 0;
	border: 1px solid #ccc ;
	width: 154px;
	border-top:none;
}
.tg-bottom-l span{
	font-size: 24px;
	font-weight: normal;
	color:#1B9D97;
}
.tg-bottom-r{
	float:left;
	border:1px solid #ccc;
	padding: 15px 0 0 28px;
	border-top:none;
	border-left:none;
}
/*友情链接*/
.friendly-link{
	background: #f7f6fc;
	height: 150px;
	margin-top:40px;
}
.friendly-banxin{
	width: 1200px;
	position:relative;
	margin:0 auto;
}
.friendly-title{
	border-bottom:1px solid #ccc;
}
.friendly-title a{
	font-size: 16px;
	color:#333;
	display: inline-block;
	padding: 36px 0 20px 0;
	margin-right:10px;
	box-sizing: border-box;
}
.friendly-title a.current{
	border-bottom:1px solid #1B9D97;
}
.friendly-con2,.friendly-con1{
	position:absolute;
	padding:10px 0 0 0;
}
.friendly-con2{
	display: none;
}
a.friendly-lian{
	float:right;
	font-size: 12px;
	color:#999;
	padding-top:54px;
}
.friendly-con2 a,.friendly-con1 a{
	font-size: 14px;color:#999;margin-right: 10px;
}
.gb-zxr{
	float: left;
	width: 247px;
	height: 90px;
	background:#f7f6fc;
	padding:15px;
	position: relative;
	overflow: hidden;
}
.zxr-h{
	font-size: 14px;color:#333;

}
.gb-zxu{
	position: absolute;
	width: 1200px;
}
.gb-zxr .gb-zxu li{
	border: none;
	text-align: left;
	float: left;
	width: 263px;

}
.gb-zxr .gb-zxu li a{
	line-height: 26px;
}
.zxr-jt{
	float: right;
	margin-top:-20px;

}
.zxr-jt a{
	float:left;
}
.zxr-jt span{
	float:left;
	margin:-2px 5px 0 5px;
}
.ul-warp{
	width: 263px;
	overflow: hidden;
	position: relative;
	height: 90px;
}
a:hover{
	color: #169d97;
}
.gb-zxl a:hover{
	border:1px solid #1b9d97;
}
.shejiao li{
	cursor: pointer;
}
.shejiao li:hover a{
	color:#1B9D97;
}
.shejiao-wx-erweima{
	position:absolute;
	display: none;
	background: url(../images/2bmain/index_erweima.png);
	width: 228px;
	height: 270px;
	border:1px solid #ccc;
}
.shejiao-wx:hover .shejiao-wx-erweima {
	display: block;
}
.ul-top a:hover{
	background: #1B9D97;
	color:#fff;
	border-right:none;
	width: 135px;
}
.bannerLoop8 ol li,.bannerLoop7 ol li,.bannerLoop6 ol li{
	background: rgba(27,157,151,0.5);
}
.bannerLoop8 ol li.current,.bannerLoop7 ol li.current,.bannerLoop6 ol li.current{
	background: rgba(27,157,151,0.9);
}