.green{
	color:#1B9D97;
	margin-top:10px;
}
#preview, .img1, .img2
 {  
 width:200px;  
 height:200px;  
 }  
 #preview  
 {  
 	text-align:center;
	width:203px;  
	height:203px; 
}
#ti{
	
	color:red;
}
.cardp1{
	width:80px;  
 	height:80px;
}
.fan{
	margin-left:-30px;
}
.cardpp{
	width:80px;  
 	height:80px;
}
.cdp{
	width:80px;  
 	height:80px;
}
#cardp3{
	line-height:20px;
	width:80px;
	height:20px;
}