<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] [%c] - %m%n" />
		</layout>
	</appender>
	<appender name="dailyRolling" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/applogs/mall-2b-manage-server/message.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} %-5p 
		[%t] [%c] - %m%n" />
		</layout>
	</appender>
	
	<appender name="i9heException" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/data/applogs/mall-2b-manage-server/i9he_exception.log" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} %-5p [%t] [%c] - %m%n" />
		</layout>
	</appender>
	<appender name="i9hePrivilege" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/data/applogs/mall-2b-manage-server/i9he_message.log" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} %-5p [%t] [%c] - %m%n" />
		</layout>
	</appender>
	
	<logger name="com.i9he.exception" additivity="true">
		<level value="info"/>
		<appender-ref ref="i9heException"/>
	</logger>
	<logger name="com.i9he.common.privilege" additivity="true">
		<level value="info"/>
		<appender-ref ref="i9hePrivilege"/>
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyRolling"/>
	</root>
</log4j:configuration>
